.menu-container {
    justify-content: center;
    padding: 10px;
}

.menu-item-container {
    padding: 10px;
    margin: 50px;
    font: bold;
    position: relative;
    width: 0px;
}

.menu-item-container:hover {
    color: rgba(9, 255, 0, 0.404);
}

.menu-subitem-container { 
    display: none;
    position: absolute;
    background-color: #bbb;
    border: 1px solid #777;
    left: 100px;
    top: 10px;
    width: 150px;
}

.menu-item-container:hover .menu-subitem-container {
    display: block;
}

.menu-subitem-container div{
    padding: 10px;
}

.menu-subitem-container div:hover {
    background-color: #9a9;
}

.processos {
    width: 126px;
}

.transparencia {
    width: 125px;
}

.acesso {
    width: 136px;
}