.menu-container {
    justify-content: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-right: solid 1px rgb(129, 129, 129);
    width: 160px;
    margin-left: -50px;
    margin-top: -480px;

}

.menu-item-container {
    padding-bottom: 2px;
    margin: 50px;
    font: bold;
    position: relative;
    width: 150px;
    cursor: pointer;
    
}

.menu-item-container:hover {
    color: rgb(0, 138, 34)
}

.menu-subitem-container { 
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #bebebe;
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgb(136, 136, 136);
    border-style: outset;
    margin-left: 130px;
    top: 1px;
    width: 200px;
    color: black;
    cursor: pointer;
}

.menu-item-container:hover .menu-subitem-container {
    display: block;
}

.menu-subitem-container div{
    padding: 10px;
}

.menu-subitem-container div:hover {
    background-color: #9a9;
}

.processos {
    width: 126px;
}

.transparencia {
    width: 125px;
}

.acesso {
    width: 136px;
}

.img {
    margin-left: 200px;
    display: inline-block;
    margin-top: 50px;
    cursor: pointer;
}