.menu-container {
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
}

.menu-item-container {
    padding: 10px;
    margin: 10px;
    border: 1px solid #777;
    background-color: #bbb;
    font: bold;
    position: relative;
}

.menu-item-container:hover {
    border: 1px solid #060;
    background-color: #9a9;
    box-shadow: 0 0 10px #222;
}

.menu-subitem-container { 
    display: none;
    position: absolute;
    background-color: #bbb;
    border: 1px solid #777;
    left: -0px;
    top: 39px;
    width: 150px;
}

.menu-item-container:hover .menu-subitem-container {
    display: block;
}

.menu-subitem-container div{
    padding: 10px;
}

.menu-subitem-container div:hover {
    background-color: #9a9;
}